.modal-base {
  top: 30%;
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding-top: 50px;

  border: 1px solid #888;
  width: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.modal-base_after-open {
  opacity: 1;
  transform: scale(1);
  height: 20vh;
  border: none;
  outline: none;
  border-radius: 6px;
}

.modal-base_before-close {
  transform: scale(0.2);
  opacity: 0;
}

.overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.5);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.overlay-base_after-open {
  opacity: 1;
}

.overlay-base_before-close {
  opacity: 0;
}

.modal-base button {
  margin: 6px !important;
  padding: 2px !important;
}

.modal-base input {
  margin: 6px !important;
  padding: 2px !important;
  width: 100px;
}

.modal-base select {
  margin: 6px !important;
  padding: 2px !important;
  width: 250px;
}
